<!DOCTYPE html>

<html>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
	<meta name="theme-color" content="#ff4757" />
  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}


    {% include scripts.html %}




  </body>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137821449-1"></script>
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-137821449-1');
</script>

<!-- FOR ADS -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8320399928044434",
          enable_page_level_ads: true
     });
</script>




</html>
